
#fullwrapper {
    height: 650px;
    width: 1300px
}
#header {
    height: 50px;
}
#map-main {
    float: left;
    width: 600px;
    height: 600px;
    outline: 2px solid black;
}

div {
    outline: 1px dashed red;
}

.schedule {
    float: left;
    width: 100px;
    height: 600px;
}
#schedule-1 {
    background-color: #9999FF;
}
#schedule-2 {
    background-color: #99FF99;
}
#schedule-3 {
    background-color: #FF9999;
}
#schedule-4 {
    background-color: #99FFFF;
}
#schedule-5 {
    background-color: #FFFF99;
}

#actions {
    float: left;
    width: 200px;
    height: 600px;
}
